<section class="footer bg-dark">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="footer-menu">
                  <h5 class="mb-4 text-uppercase">DIGNITÉ CONSULTING</h5>
                  <p>
                      7 ans d'ancienneté au service de la croissance économique et du progrès social surtout de l'entrepreneuriat. Une équipe de jeune diplôme pluridisciplinaire de haut niveau et professionnel ,qui accumule expérience, la maîtrise et le savoir faire efficace,
                      dont les connaissances sont actualisées et formées à la législation du jour.
                  </p>
                  <div class="text-white">
                      <a href="#facebook"><i class="mdi mdi-facebook facebook footer_mdi"></i></a>
                      <a href="#twitter"><i class="mdi mdi-twitter twitter footer_mdi"></i></a>
                      <a href="#google"><i class="mdi mdi-google google footer_mdi"></i></a>
                      <a href="#apple"><i class="mdi mdi-apple apple footer_mdi"></i></a>
                  </div>
              </div>
          </div>

          <div class="col-lg-2">
              <div class="footer-menu">
                  <h5 class="mb-4 text-uppercase">A Propos de Nous</h5>
                  <ul class="text-muted list-unstyled">
                      <li><a href="#feature">Qui sommes nous?</a></li>
                      <li><a href="#portfolio">Services</a></li>
                      <li><a href="#team">Equipe</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="footer-menu">
                  <h5 class="mb-4 text-uppercase">Contactez nous</h5>
                  <p>
                      Face au 12e Arrondissement, - Deux-plateaux - Vallon Cocody - 20 BP 624 Abidjan 20 Abidjan - Côte d’Ivoire
                  </p>
                  <span class="footer-support">afrique.dignite@yahoo.ca</span>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-12">
              <div class="text-center mt-5">
                  <p class="mb-0">2018 © DIGNITÉ CONSULTING. Tous Droits Réservé</p>
              </div>
          </div>
      </div>
  </div>
</section>