<section class="section" id="home">
  <div class="bg-overlay" st></div>
  <div class="home-center" style="background: #fffffe;
position: relative;
z-index: 10;">
      <div class="home-desc-center">
          <div class="container">
              <!-- <div class="row">
                  <div class="col-md-12 rubrique_title">
                      Bienvenue sur notre forum
                  </div>

              </div> -->
              <div class="row forum_content">
                  <div class="col-md-12 forum_subtitle">
                      <div class="row">
                            <div class="col-md-8" style="font-size: 1.5em;">
                              NOTRE BIBLIOTHEQUE
                            </div>
                            <div class="col-md-4">
                              
                            </div>  
                      </div>
                           
                </div>
                <div class="col-md-12 article_block">
                  <div class="row">
                    <div class="col-md-12 titre_article">
                       <h3>
                           {{ article.titre }}
                       </h3> 
                    </div>
                    <div class="col-md-12 corp_aticle">
                        {{ article.description }}
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      </div>
</section>
<!-- HOME END-->


