<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky">
  <div class="container">
      <a class="navbar-brand logo" href="#">DIGNITÉ CONSULTING</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="mdi mdi-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link my-link" href="/#home" >Acceuil</a>
              </li>
              <li class="nav-item link_hide">
                  <a class="nav-link my-link" href="#feature">Qui Sommes Nous</a>
              </li>
              <li class="nav-item link_hide">
                  <a class="nav-link my-link" href="#portfolio">Nos Services</a>
              </li>
              <li class="nav-item link_hide">
                  <a class="nav-link my-link" href="#team">Equipes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/forum">Forum</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/bibliotheque">Bibliothèque</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/photo">Phototèque</a>
              </li>
              <li class="nav-item link_hide">
                  <a class="nav-link my-link" href="#contact">Contact</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
