.forum_subtitle{
    background-image: url(src/images/books-1012088_1280.jpg);
    background-size: cover;
    padding: 1em;
    color: white;
    font-weight: bold;
    padding-top: 4em;
    padding-bottom: 4em;
}
.book_block{
    margin-top: 2em;
    background-color: #fafaf9 !important;
}
.book_description{
    min-height: 12em;
}
.btn-light{
    background-color: #c1ac10;
    color: white;
    font-weight: bold;
}
.book_title{
    border-bottom: solid 2px #c1ac2a;
    color: #888886;
    background: #c1ac2a;
    color: white;
    padding-top: 0.5em;
}
.book_description{
    padding: 0.8em;
}
